<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Machine</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="id && !err">
  <ion-card>
    <ion-img src="../assets/img/speakers/wm.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Machine No. {{id}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.location}}</p>
    </ion-card-content>
  </ion-card>
  <ion-button padding float-start margin-top fill="clear" (click)="presentActionSheet()">
    Start
  </ion-button>
  <ion-button padding float-end margin-top fill="clear" href="/tabs/(contact:contact)?{{id}}">
    Report
  </ion-button>
</ion-content>

<ion-content *ngIf="err">
  <ion-title>Missing Machine Number</ion-title>
</ion-content>
